* {
    scroll-behavior: smooth;
}

.card {
    position: relative;
}
.card img {
    margin: auto;
    max-width: 75%;
}

.card #vin0 {
    position: absolute;
    top: 0;
    left: 0;
}
.card #vin0.lone {
    top: 50%;
    transform: translateY(-50%);
}

.card #vin1 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.card #vin1.hide {
    display: none;
}

.card #indicator {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.card label h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-53%);
    right: -40%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #10b981;
}

input:focus + .slider {
    box-shadow: 0 0 1px #10b981;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 500px) {
    .cardContainer {
        padding: 10px;
    }

    .card img {
        max-width: 50%;
    }

    .card #indicator h2 {
        left: -30%;
    }

    .switch {
        width: 45px;
        height: 24px;
    }

    .slider:before {
        height: 17px;
        width: 17px;
        left: 4px;
        bottom: 4px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
}
